.button {
  padding: 0.7em 1em;
  box-sizing: border-box;
  font-size: $glob__font-size_h5;
  border: 0.1em solid $glob__dove-gray;

  &:link {
    color: $glob__color_black;
    text-decoration: none;
    transition: 0.2s;
  }

  &:visited {
    color: $glob__color_black;
    text-decoration: none;
  }

  &:focus,
  &:hover,
  &:active {
    color: $glob__color_black;
    text-decoration: none;
  }
}
