.btn {
  display: inline-block;
  position: relative;
  font-family: $font-stack_sans-serif;
  font-size: 1rem;
  padding: 1em 2.5em;
  cursor: pointer;
  font-weight: bold;
  border-radius: $border_radius;
  text-decoration: none;
  border: 0;
  color: $color_white;
  background-color: $color_black;
  box-shadow: 0 0.5em 0 $color_gray;
  transition: transform 0.2s ease, box-shadow 0.2s ease,
    background-color 0.2s ease;

  &:link,
  &:visited,
  &:focus,
  &:hover {
  }

  &:hover {
    background-color: $color_gray-darken;
  }

  &:active {
    transform: translate(0, 2px);
    box-shadow: 0 0.3em 0 $color_gray-light;
  }

  // Modifier: theme
  &_theme_primary {
    background-color: $color_primary;
    box-shadow: 0 0.5em 0 $color_primary-lighten;
    transition: transform 0.2s ease, box-shadow 0.2s ease,
      background-color 0.2s ease;

    &:link,
    &:visited,
    &:focus,
    &:hover {
    }

    &:hover {
      background-color: $color_primary-dark;
    }

    &:active {
      transform: translate(0, 2px);
      box-shadow: 0 0.3em 0 $color_primary-lighten;
    }
  }

  // Modifier: disable
  &_disabled,
  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;

    &:link {
      transition: none;
    }

    &:hover {
      background-color: $color_primary;
    }

    &:active {
      transform: none;
      box-shadow: 0 0.5em 0 $color_primary-lighten;
    }
  }
}
