.carousel {
  font-size: 14px;
  width: 100px;
  position: relative;
  margin: 1em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px #ccc;
  //overflow: hidden;

  &__buttons {
  }

  &__prev,
  &__next {
    border: none;
    display: none;
  }
  &__offscreen {
    position: absolute;
    left: -2000px;
  }

  &__content {
    margin: 0;
    padding: 0;
  }

  &__item {
    font-size: 100px;
    margin: 0;
    padding: 0;
    width: 100%; // centers the element
    list-style: none;
    text-align: center;
    border: 1px solid red;
    line-height: 1;
  }

  // Modifiers:

  &_active {
    height: 130px;

    & .carousel__item {
      position: absolute;
      top: 200px;
    }

    & .carousel__item_current {
      top: 30px;
    }

    & .carousel__buttons {
      padding: 5px 0;
      background: #eee;
      text-align: center;
      z-index: 10;
      position: relative;
    }

    & .carousel__prev,
    & .carousel__next {
      display: inline-block;
    }
  }
}
