.blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  display: flex;
  flex-flow: column nowrap;
  padding: 1.5rem 10%;

  &_theme_gray {
    background-color: $color_gray-lightest;
    font-style: italic;
    quotes: none;
  }

  &__main:first-of-type:before {
    content: '\201c';
  }

  &__main:last-of-type:after {
    content: '\201d';
  }

  &__footer:before {
    content: '—';
    padding-right: 0.3rem;
  }
}
