.header {
  display: flex;
  flex-flow: column nowrap;

  // Modifiers:

  &_align-content_right {
    align-items: flex-end;
  }

  &_align-content_center {
    align-items: center;
    justify-content: center;
  }

  &_view_fullscreen-image {
    height: 100%;

    // background-color: $color_primary;

    /* instead of background-color you can apply gradient:

    background: linear-gradient($color_primary-lightest, $color_primary-lighten)
      no-repeat; */

    /* or image: */

    background-image: url('./../../img/fullscreen-image.jpg');
    // make background image responsive:
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}
