.grid {
  display: grid;

  &__item {
    border: 1px solid $color_black;
    padding: 1em;
  }

  &_style_autofill {
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-gap: 1em;
  }
}
