.demo {
  height: 100%;

  &__header {
    text-align: center;
    padding: 2em 4%;
    background-color: $color_secondary;
  }

  &__heading {
    margin-left: -1.1em;
    color: $color_primary;
    font-size: 2rem;
    font-family: $font-stack_sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: $root_line-height;
    margin-bottom: 0.5em;
  }

  &__main {
    /* if you need full-width responsive image but with the same left and right padding as it's parent container, define the appropriate ammount of vw in 'image' component's .pug file. 
    
    For example, here we have 4vw padding for left and right = 8vw of blank space. So, in image's .pug file in 'sizes' attribute define '92 vw' (cause 100vw - 8vw = 92vw) for all (or only for some, if situation demands) media queries.
    
    Well, for strange reason it doesn't work, fix it */
    padding: 0 4vw 4em 4vw;
  }

  &__article {
    margin-bottom: 2em;
    padding: 2em;
  }

  &__section {
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: repeat(autofit, 1fr);
    grid-row-gap: 2em;

    & > * {
      border: 1px solid black;
      padding: 2em;
    }
  }

  &__section-item {
    padding-left: 2em;
    margin-bottom: 2em;
    border-left: 1em solid $color_black;
  }

  &__palette {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
  }

  &__color-primary {
    background-color: $color_primary;
  }

  &__color-secondary {
    background-color: $color_secondary;
  }

  &__color-on-error {
    background-color: $color_on-error;
  }

  &__color-on-success {
    background-color: $color_on-success;
  }

  &__color-info-message {
    background-color: $color_info-message;
  }

  &__code {
    background-color: $color_black;
    color: $color_white;
    font-family: $font-stack_monospaced;
    padding: 2em;
    display: block;
  }
}
