.text {
  @media print {
    orphans: 3;
    widows: 3;
  }

  line-height: $root_line-height;
  font-family: $font-stack_sans-serif;

  // tips under forms/checkboxes/...
  &__tip {
    font-size: 80%;
  }

  /**************
   * Modifiers: *
   **************/

  // display as regular text
  &_display_inline {
    display: inline;
  }
  // display as paragraph
  &_display_block {
    display: block;
    text-indent: 0;
    margin-bottom: 1em; /* space between paragraphs */
  }

  &_color_black {
    color: $color_black;
  }

  &_color_grey {
    color: $color_gray-lightest;
  }

  &_color_white {
    color: $color_white;
  }
}
