mixin code(text, classList)
  - if (classList.includes('code_display_inline'))
    code(class=`${classList}`) #{text}

  - if (classList.includes('code_display_block'))
    pre(class=`${classList}`)
      code #{text}




      