.tooltip {
  position: relative;
  color: $color_black;

  &__content {
    $width: 100px;

    visibility: hidden;
    width: $width;
    background-color: $color_gray;
    color: #fff;
    padding: 7px 0; // adding left/right paddding wil break tooltip centering
    border-radius: $border_radius;
    font-size: 16px;
    line-height: 1.2;

    // tooltip text positioning:
    position: absolute;
    z-index: 1000;
    bottom: 125%;
    text-align: center;
    // center tooltip:
    left: 50%;
    margin-left: $width / -2;

    opacity: 0;
    transition: opacity 0.2s;

    // triangle for tooltip
    &:after {
      $margin-left: 7px;

      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -$margin-left;
      border-width: $margin-left;
      border-style: solid;
      border-color: $color_gray transparent transparent transparent;
    }
  }

  &:hover &__content {
    visibility: visible;
    opacity: 1;
  }
}
