$circle-button_size: 20px;
$switch_height: 22px;
$switch_width: 46px;
$switch_border-width: 1px;

.switch {
  // create wrapper to position custom and system checkboxes in one grid cell
  &__wrapper {
    position: relative;
    width: calc(#{$switch_width} + #{$switch_border-width}* 2);
  }

  &__system-checkbox {
    opacity: 0; // hide default system checkbox but keep it accessible

    // change .switch__custom-checkbox color on ON:
    &:checked + .switch__custom-checkbox {
      background-color: $color_black;
    }

    &:focus + .switch__custom-checkbox {
      box-shadow: $button-bow-shadow;
    }

    // change switch button color on ON:
    // (also animate the button and changle it's color)
    &:checked + .switch__custom-checkbox:before {
      background-color: $color_white;
      transform: translateX($switch_width - $circle-button_size - 3px);
    }
  }

  // define the switch__custom-checkbox:
  &__custom-checkbox {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $color_white;
    transition: 0.4s;
    border: $switch_border-width solid $color_black;
    border-radius: 10000px;
    width: $switch_width;
    height: $switch_height;

    // define the switch button:
    &:before {
      position: absolute;
      content: '';
      height: $circle-button-size;
      width: $circle-button-size;
      left: 2px;
      // bottom = ($switch_height - $circle-button_size) / 2) - border width
      bottom: 1px;
      background-color: $color_black;
      border-radius: 50%;
      transition: all 0.4s ease;
      z-index: 10000;
    }

    // Modifier: disabled

    &_disabled {
      outline: none;
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}
