mixin text(classList)
  - if (classList.includes('text_display_inline'))
    span(class=`${classList}`)
      block
  - if (classList.includes('text_display_block'))
    p(class=`${classList}`)
      block