include ./../blocks.basic/hr/hr.pug
include ./../blocks.basic/badge/badge.pug
include ./../blocks.basic/label/label.pug
include ./../blocks.basic/blockquote/blockquote.pug
include ./../blocks.basic/breadcrumb/breadcrumb.pug
include ./../blocks.basic/icons/icons.pug
include ./../blocks.basic/embed/embed.pug
include ./../blocks.basic/loader/loader.pug
include ./../blocks.basic/pagination/pagination.pug
include ./../blocks.basic/heading/heading.pug
include ./../blocks.basic/btn/btn.pug
include ./../blocks.basic/link/link.pug
include ./../blocks.basic/text/text.pug
include ./../blocks.basic/img-raster/img-raster.pug
include ./../blocks.basic/img-svg/img-svg.pug
include ./../blocks.basic/code/code.pug
include ./../blocks.basic/comment/comment.pug