include ./../blocks.basic/heading/heading.pug
include ./../blocks.basic/hr/hr.pug
include ./../blocks.basic/badge/badge.pug
include ./../blocks.basic/blockquote/blockquote.pug
include ./../blocks.basic/breadcrumb/breadcrumb.pug
include ./../blocks.basic/icons/icons.pug