extends template-index.pug

block header
	header(class='header header_align-content_center') 
		h1(class='heading heading_size_h3') Тестовые задания для Front End разработчика Daminion Software

block main 	
	div(class='main')
		div(class='box')
			div(class='box__license-plans')
			div(class='box__number-of-licenses')
				label(for='number-of-licenses' class='form-group__label') Number of licenses:
			div(class='box__total')
			button(class='box__btn btn') buy now 
			div(class='box__tip')

block footer
	footer(class='footer') &copy; 2019

