extends template-index.pug

block header
  header(class='header') Header content

block main 
  main(class='main') 
    include ./../blocks.biscuit-lib/accordeon/accordeon.pug

block footer
  footer(class='footer') Footer content
