extends template-index.pug

block header
  header(class='header') Header content

block main 
  main(class='main') Main content stuff
    div(class="carousel-box")
      div(class="buttons")
        button(class="prev") ◀  
          span(class="offscreen") Previous
        button(class="next") ▶ 
          span(class="offscreen") Next 
      ol(class="content")
        li
          a(href='###') 1
        li
          a(href='###') 2
        li 
          a(href='###') 3
        li 
          a(href='###') 4

  
  


block footer
  footer(class='footer') &copy; 2019