extends template-index.pug

block header
  include ./../blocks.basic/header/header.pug

block main
  main(class='main text text_color_black text_size_root')  
    p(class='text_style_block-paragraph') main content

block footer
  footer(class='footer text text_color_black text_size_root') 
    p(class='text_style_block-paragraph') 2019
