extends template-index.pug

block header
	header(class='header header_align-content_center') 
		h1(class='heading heading_size_h3') License plan box

block main 	
	div(class='main')
		div(class='box')
			div(class='box__license-plans')
			div(class='box__number-of-licenses')
				label(for='number-of-licenses' class='form-group__label') Number of licenses:
			div(class='box__total')
				span(class='box__total-text box__heading') Total:
				span(class='box__total-sum box__heading') 
				sup(class='box__total-currency box__heading')
			a(href='###' class='btn box__btn') buy now 
			div(class='box__tip')

block footer
	footer(class='footer') Tested in Chrome 78, Firefox 70 and Opera 58 / Linux / 2019

