.comment {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $color_gray-lighten;

  &__avatar {
    max-width: 6em;
    min-width: 2em;
    align-self: flex-start;
  }

  &__text {
    margin-left: 1em;
  }

  &__header {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 0.5em;

    @media screen and (min-width: $screen-sm) {
      flex-flow: row nowrap;
    }
  }

  &__name {
    font-weight: bold;

    @media screen and (min-width: $screen-sm) {
      &:after {
        content: '|';
        margin: 0 0.2em;
      }
    }
  }

  /*
  &__time {
  }
  */

  &__main {
    margin-bottom: 0.5em;
  }
}
