.btn {
  display: inline-block;
  position: relative;
  width: 100%;
  font-family: $font-stack_sans-serif;
  font-size: 1rem;
  text-align: center;
  line-height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  border-radius: $border_radius;
  text-decoration: none;
  border: 1px;
  border-color: $color_white;
  color: $color_white;
  background-color: $color_black;
  box-shadow: 0 0.5em 0 $color_gray;
  transition: transform 0.2s ease, box-shadow 0.2s ease,
    background-color 0.2s ease;

  @media screen and (min-width: $screen-sm) {
    width: 12em;
  }

  &:link,
  &:visited,
  &:focus,
  &:hover {
  }

  &:hover {
    background-color: $color_gray-darken;
  }

  &:active {
    transform: translate(0, 2px);
    box-shadow: 0 0.3em 0 $color_gray-light;
  }

  // Modifier: theme
  &_theme_primary {
    background-color: $color_primary;
    box-shadow: 0 0.5em 0 lighten($color_primary, 50%);
    transition: transform 0.2s ease, box-shadow 0.2s ease,
      background-color 0.2s ease;
    /*
    &:link,
    &:visited,
    &:focus,
    &:hover {
    }
*/
    &:hover {
      background-color: lighten($color_primary, 20%);
    }

    &:active {
      transform: translate(0, 2px);
      box-shadow: 0 0.3em 0 lighten($color_primary, 20%);
    }
  }

  // Modifier: disabled
  &_disabled,
  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;

    &:link {
      transition: none;
    }

    &:hover {
      background-color: $color_black;
    }

    &:active {
      transform: none;
    }
  }
}
