.btn {
  display: inline-block;
  position: relative;
  font-family: $font-stack_sans-serif;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;
  padding: 0.8rem 1rem;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  border-radius: $border_radius;
  text-decoration: none;
  border: 1px;
  border-color: $color_white;
  color: $color_white;
  background-color: $color_black;
  outline: none;
  transition: transform 0.2s ease, background-color 0.2s ease,
    box-shadow 0.2s ease;

  &:focus,
  &:active {
    box-shadow: $button-bow-shadow;
  }

  &:hover {
    background-color: $color_gray-darken;
  }

  &:active {
    transform: translate(0, 2px);
  }

  // Modifier: disabled
  &_disabled,
  &:disabled {
    outline: none;
    opacity: 0.3;
    cursor: not-allowed;
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }

    &:hover,
    &:active {
      background-color: $color_black;
      box-shadow: none;
      transform: none;
    }
  }
}
