.code {
  border-radius: $border_radius;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: none;
  font-family: $font-stack_monospace;

  &_display_block {
    padding: 2em;
    display: block;
  }

  &_display_inline {
    display: inline-block;
    padding: 0.05rem 0.4rem;
  }

  &_theme_gray {
    background-color: $color_gray-lightest;
    color: $color_black;
  }

  &_theme_dark {
    background-color: $color_gray_darken;
    color: $color_gray-lighten;
  }
}
