.table {
  // make table responsive (adds scrollbar if the width is too small)
  overflow-x: auto;

  &__container {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }

  &__caption {
    font-style: italic;
    padding: 1em;
  }

  &__cell {
    padding: 1em;
    text-align: left;
    vertical-align: baseline;

    /*
    &_type_main {
    }
    */
  }

  // Modifiers:

  // theme_light

  &_theme_light {
    & th {
      background-color: $color_black;
      color: $color_white;
    }

    & tr:nth-child(even) {
      background-color: lighten($color_gray-lightest, 5%);
    }
    & tr:hover {
      background-color: $color_gray-lightest;
    }
  }

  // theme_documentation

  &_theme_documentation {
    & th {
      background-color: $color_gray_darken;
      font-weight: bold;
    }

    & tr {
      border-bottom: 1px solid $color_gray-dark;
    }
    & tr:hover {
      background-color: $color_gray-darkest;
    }
  }
}
