.code {
  background-color: $glob__color_concrete;
  // 1. Correct the inheritance and scaling of font size in all browsers.
  // 2. Correct the odd `em` font sizing in all browsers.
  font-family: $glob__font-stack_monospaced;

  &_style_block {
    padding: 2em;
    display: block;
  }

  &_style_inline {
    display: inline-block;
  }

  &_size_root {
    font-size: 1rem;
  }
}
