.promo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  background-color: $color_white;
  align-content: flex-start;
  height: 100%;

  @media screen and (min-width: $screen-sm) {
    align-items: center;
    justify-content: center;
  }

  &__presentation {
    display: grid;
    grid-gap: 1rem;
    width: 30rem;
    height: calc(98%-2rem);
    padding: 1rem 1rem 5rem 1rem;
    grid-template-rows: auto 1fr auto;
    align-content: center;

    @media screen and (min-width: $screen-sm) {
      height: auto;
    }
  }

  &__heading {
    font-size: calc(#{$font-size_h2} - 100%);
    align-self: flex-start;

    @media screen and (min-width: $screen-sm) {
      font-size: $font-size_h3;
      line-height: 1.2;
    }
  }

  &__logo {
    max-width: 70%;
  }

  &__buttons {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
    grid-gap: 1rem;
  }
}

.hamburger-menu {
  display: inline-block;

  @media screen and (min-width: $screen-sm) {
    display: none;
  }
}
