.control {
  display: block;
  position: relative;
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // hide default system control but keep it accessible:
  &__system-control {
    left: 1.5rem;
    top: 2rem;
    opacity: 0;
    z-index: -1;
    position: absolute;
  }

  &__license-plan-name {
    margin-left: 3rem;
  }

  &__box__license-plan-price {
  }

  // create the base for the radio button:
  &__custom-control {
    box-sizing: border-box;
    position: absolute;
    display: block;
    top: 1.5rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: $color_white;
    border-radius: 50%;
    transition: 0.2s;
    border: 5px solid #dadada;
  }

  // create the base for the radio button dot:
  &__custom-control_active {
    box-sizing: border-box;
    position: absolute;
    // by default, hide custrom control dot/checkmark:
    display: none;
    // custrom control dot/checkmark styles:
    left: 1rem;
    top: 1.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    // center/40% means 'to center the image and scale it by 40%':
    background: no-repeat center/38% url("./dot.svg");
  }

  /* Modifiers (when checked): */

  // show the checkmark/dot:
  &__system-control:checked ~ &__custom-control_active {
    display: block;
  }
  // style control:
  &__system-control:checked ~ &__custom-control {
    background-color: $color_white;
    border-color: #34648e;
  }
}
