.heading {
  font-size: 1rem;
  font-family: $font-stack_sans-serif;
  font-weight: bold;
  font-style: normal;
  line-height: $root_line-height - 0.5;

  &_size_h1 {
    font-size: $font-size_h1;
  }

  &_size_h2 {
    font-size: $font-size_h2;
  }

  &_size_h3 {
    font-size: $font-size_h3;
  }

  &_size_h4 {
    font-size: $font-size_h4;
  }

  &_size_h5 {
    font-size: $font-size_h5;
  }

  &_size_h6 {
    font-size: $font-size_h6;
  }

  &_color_white {
    color: $color_white;
  }

  &_color_black {
    color: $color_black;
  }
}
