extends ../pug-templates/demo.pug




block meta
  meta(name='description' content='Description of the page less than 150 characters')
  //- Displayed in Google search results:
  meta(name='keywords' content='web development, web applications, frontend')
  meta(name='author' content='Andrey Ponomarev')
  title Static Website Starter Template. BEM Blocks Library


    


block demo
  div(class='demo')
    header(class='header demo__header')
      h1(class='heading heading_size_h1') Static Website Starter Template
      h2(class='heading heading_size_h2') BEM Blocks Library
      a(href='https://github.com/ponomarevandrey', class='link text text_style_inline') Github
    
    //a(href='https://github.com/ponomarevandrey', class='link heading__icon' aria-hidden='true', focusable='false', title='Github')
      span(class='icon__accessLabel') Github
      svg(
        class='icon icon__link'): use(xlink:href='./img/icons.svg#github') 
      
    main(class='main')
    
      article(class='article demo__article')
        h1(class='heading heading_size_h3') Blocks
        ul(class='list text list_style_unordered text_size_root') 
          li(class='list__item') Main root:
            ul(class='list list_style_unordered')
              li(class='list__item') .master (assigned to &lt;html&gt; element)
          li(class='list__item') Content sectioning:
            ul(class='list list_style_unordered')
              li(class='list__item') .article
              li(class='list__item') .footer
              li(class='list__item') .header
              li(class='list__item') .aside
              li(class='list__item') .address
              li(class='list__item') .main
              li(class='list__item') .heading
              li(class='list__item') .section
              li(class='list__item') .mainNav
              li(class='list__item') .headingGroup
          li(class='list__item') Text:
            ul(class='list list_style_unordered')
              li(class='list__item') .text
              li(class='list__item') .pre
              li(class='list__item') .list
              li(class='list__item') .blockquote
              li(class='list__item') .horizontalRule
              li(class='list__item') .link
              li(class='list__item') .anchorLink
              li(class='list__item') .code
              li(class='list__item') .em
              li(class='list__item') .strong
          li(class='list__item') Image, multimedia, embedded content:
            ul(class='list list_style_unordered')
              li(class='list__item') .image
              li(class='list__item') .socialMediaIconLinks
              li(class='list__item') .icons
              li(class='list__item') .object
              li(class='list__item') .picture
              li(class='list__item') .responsiveMediaContent
              li(class='list__item') .imageZoom
              li(class='list__item') .imageSlider
              li(class='list__item') .portfolioGalleryWithFiltering
              li(class='list__item') .logo
          li(class='list__item') Table:
            ul(class='list list_style_unordered')
              li(class='list__item') .table
              li(class='list__item') .responsiveTable
          li(class='list__item') Forms:
            ul(class='list list_style_unordered')
              li(class='list__item') .form
              li(class='list__item') .formValidator     
              li(class='list__item') .label
              li(class='list__item') .selectBox
              li(class='list__item') .progressBar
              li(class='list__item') .fieldText
              li(class='list__item') .checkbox
              li(class='list__item') .radioButton
              li(class='list__item') .fileUpload
              li(class='list__item') .searchBar
          li(class='list__item') Menus
            ul(class='list list_style_unordered')
              li(class='list__item') .hamburgerMenu
              li(class='list__item') .offCanvasMenu
              li(class='list__item') .multilevelMenu
          li(class='list__item') Buttons:
            ul(class='list list_style_unordered')          
              li(class='list__item') .button 
              li(class='list__item') .backToTopButton
              li(class='list__item') .closeButton
              li(class='list__item') .toggleSwitch
              li(class='list__item') .numberSpinner
              li(class='list__item') .rangeSlider
          li(class='list__item') Grid:
            ul(class='list list_style_unordered')
              li(class='list__item') .twelveColumnGrid
              li(class='list__item') .autofillColumnGrid
              li(class='list__item') .pinterestGrid
          li(class='list__item') Misc:
            ul(class='list list_style_unordered')
              li(class='list__item') .message
              li(class='list__item') .productCard
              li(class='list__item') .loader
              li(class='list__item') .pagination
              li(class='list__item') .breadcrumbs
              li(class='list__item') .comments
              li(class='list__item') .modalWindow
              li(class='list__item') .tabs
              li(class='list__item') .scrollBar
              li(class='list__item') .filterElements
              li(class='list__item') .scrollIndicator
              li(class='list__item') .tooltip
              li(class='list__item') .cssArrows
    
      div(class='section demo__section main__section')
              
        div(class='section__item demo__sectionItem')
          h1(class='heading heading_size_h3 code code_style_inline') .heading
          h1(class='heading heading_size_h4') Example:
          h1(class='heading') Heading
          h1(class='heading heading_size_h1') Heading One
          h1(class='heading heading_size_h2') Heading Two
          h1(class='heading heading_size_h3') Heading Three
          h1(class='heading heading_size_h4') Heading Four
          h1(class='heading heading_size_h5') Heading Five
          h1(class='heading heading_size_h6') Heading Six
          h1(class='heading heading_size_h4') Code:
          pre(class='pre')
            code(class='code code_style_block code_size_root').
              &lt;h1 class='heading&gt;Heading&lt;/h1&gt;
              &lt;h1 class='heading heading_size_h1'&gt;Heading One&lt;/h1&gt;
        
        div(class='section__item demo__sectionItem')
          h1(class='heading heading_size_h3 code code_style_inline') .image
          // img(src='../../img/sample-image.jpg' class='image' alt='Cat Sleeping In The Sun' title='The value of the title attribute is usually presented to the user as a tooltip, which appears shortly after the cursor stops moving over the image') 
        
        div(class='section__item demo__sectionItem')
          h1(class='heading heading_size_h3 code code_style_inline') .link
          h1(class='heading heading_size_h4') Example:
          p(class='text text_style_blockParagraph text_size_root') Text #[a(class='link' href='###') link] text 
          h1(class='heading heading_size_h4') Code:
          code(class='code code_style_block') &lt;a href='#' class'link'&gt;text&lt;/a&gt;
            
        div(class='section__item demo__sectionItem')
          h1(class='heading heading_size_h3 code code_style_inline') .text
          h1(class='heading heading_size_h4') Example:
          p(class='text text_style_blockParagraph text_size_root').  
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          p(class='text text_style_blockParagraph text_size_root').  
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          h1(class='heading heading_size_h4') Code:
          pre(class='pre')
            code(class='code code_style_block code_size_root').
              &lt;p class='text text_style_blockParagraph text_size_root&gt;...&lt;/p&gt;
