$font-size_h1: 3.052rem;
$font-size_h2: 2.441rem;
$font-size_h3: 1.953rem;
$font-size_h4: 1.563rem;
$font-size_h5: 1.25rem;
$font-size_h6: 1rem;

.heading {
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  display: block;

  &_size_h1 {
    font-size: $font-size_h1;
  }

  &_size_h2 {
    font-size: $font-size_h2;
  }

  &_size_h3 {
    font-size: $font-size_h3;
  }

  &_size_h4 {
    font-size: $font-size_h4;
  }

  &_size_h5 {
    font-size: $font-size_h5;
  }

  &_size_h6 {
    font-size: $font-size_h6;
  }
}
