.link {
  // make fade in/out effect on link hover
  &:link {
    color: $color_black;
    transition: all 0.2s linear;
  }

  &:visited {
    color: $color_black;
  }

  &:hover {
    color: $color_gray;
    text-decoration: none;
  }

  &:focus {
    color: $color_gray;
  }

  &:active {
    color: $color_gray;
  }
}
