.link {
  // make fade in/out effect on link hover
  &:link {
    color: $color_gray;
    transition: color 0.2s linear;
  }

  &:visited,
  &:focus {
    color: $color_gray-darken;
  }

  &:hover,
  &:active {
    color: $color_black;
    border: none;
  }
}
