.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  &__heading {
    text-align: center;
    padding: 0.5em;
  }

  &_theme_presentation {
    height: 100%;

    // background-color: $color_primary;

    /* instead of background-color you can apply gradient:

    background: linear-gradient($color_primary-lightest, $color_primary-lighten)
      no-repeat; */

    /* or image: */

    background-image: url('./../../img/abstract.jpg');
    // make background image responsive:
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}
