// *************
// * VARIABLES *
// *************

// Typography
$root_font-size: 16px;
$root_line-height: 1.7;

$font-stack_sans-serif: Lato, Arial, Verdana, sans-serif;
$font-stack_serif: Georgia, 'Times New Roman', Times, serif;
$font-stack_monospaced: Consolas, 'Courier New', Courier, monospace;

$font-size_h1: 3.052rem;
$font-size_h2: 2.441rem;
$font-size_h3: 1.953rem;
$font-size_h4: 1.563rem;
$font-size_h5: 1.25rem;
$font-size_h6: 1rem;

// Colors
$color_white: white;
$color_gray-lightest: #f2f2f2;
$color_gray-lighten: #cccccc;
$color_gray-light: #a6a6a6;
$color_grey: #808080;
$color_gray-dark: #595959;
$color_gray-darken: #333333;
$color_gray_darkest: #1a1a1a;
$color_black: black;

$color_primary: #9a00f3;
$color_primary-light: lighten($color_primary, 12%);
$color_primary-lighten: lighten($color_primary, 28%);
$color_primary-lightest: lighten($color_primary, 49%);
$color_primary-dark: darken($color_primary, 12%);
$color_primary-darken: darken($color_primary, 24%);
$color_primary-darkest: darken($color_primary, 36%);

$color_secondary: #ffdd55;
$color_secondary-light: lighten($color_secondary, 12%);
$color_secondary-lighten: lighten($color_secondary, 24%);
$color_secondary-lightest: lighten($color_secondary, 49%);
$color_secondary-dark: darken($color_secondary, 12%);
$color_secondary-darken: darken($color_secondary, 24%);
$color_secondary-darkest: darken($color_secondary, 36%);

$color_on-error: #ff2a2a;
$color_on-error-light: lighten($color_on-error, 12%);
$color_on-error-lighten: lighten($color_on-error, 24%);
$color_on-error-lightest: lighten($color_on-error, 49%);
$color_on-error-dark: darken($color_on-error, 12%);
$color_on-error-darken: darken($color_on-error, 24%);
$color_on-error-darkest: darken($color_on-error, 36%);

$color_on-success: #00d455;
$color_on-error-light: lighten($color_on-error, 12%);
$color_on-error-lighten: lighten($color_on-error, 24%);
$color_on-error-lightest: lighten($color_on-error, 49%);
$color_on-error-dark: darken($color_on-error, 12%);
$color_on-error-darken: darken($color_on-error, 24%);
$color_on-error-darkest: darken($color_on-error, 36%);

$color_info-message: #ffe6d5;
$color_info-message-light: lighten($color_info-message, 12%);
$color_info-message-lighten: lighten($color_info-message, 24%);
$color_info-message-lightest: lighten($color_info-message, 49%);
$color_info-message-dark: darken($color_info-message, 12%);
$color_info-message-darken: darken($color_info-message, 24%);
$color_info-message-darkest: darken($color_info-message, 36%);

// Media Quaries
$screen-xs: 0 !default;
$screen-sm: 480px !default;
$screen-md: 768px !default;
$screen-lg: 992px !default;
$screen-xl: 1200px !default;
$screen-xxl: 1800px !default;

// Other
$border_radius: 0.4em;
$transition_time: 0.3s;

// **********
// * MIXINS *
// **********

// Debugging
@mixin debugger {
  border: 1px solid red;
}

// Typography
@mixin font-face__regular {
  font-family: Lato;
  src: url('../../fonts/lato-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin font-face__italic {
  font-family: Lato;
  src: url('../../fonts/lato-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@mixin font-face__bold {
  font-family: Lato;
  src: url('../../fonts/lato-heavy.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// *************
// * FUNCTIONS *
// *************
