// *************
// * VARIABLES *
// *************

// Typography
$root_line-height: 1.7;

$font-stack_sans-serif: Lato, Arial, Verdana, sans-serif;
$font-stack_serif: Georgia, 'Times New Roman', Times, serif;
$font-stack_monospace: Consolas, 'Courier New', Courier, monospace;

$font-size_h1: 3.052rem;
$font-size_h2: 2.441rem;
$font-size_h3: 1.953rem;
$font-size_h4: 1.563rem;
$font-size_h5: 1.25rem;
$font-size_h6: 1rem;

// Colors
$color_white: white;
$color_gray-lightest: #f2f2f2;
$color_gray-lighten: #cccccc;
$color_gray-light: #a6a6a6;
$color_gray: #808080;
$color_gray-dark: #595959;
$color_gray-darken: #333333;
$color_gray_darkest: #1a1a1a;
$color_black: black;

$color_primary: #4788fb;
$color_secondary: #565f77;
$color_success: #00996a;
$color_warning: #ffcc00;
$color_danger: #ea2929;
$color_info: #347ed4;
$color_disabled: #e3eaf2ff;

$color_fb: #1877f2;
$color_github: #161514;
$color_instagram: #000;
$color_ok: #f68634;
$color_telegram: #0088cc;
$color_twitter: #55acee;
$color_youtube: red;
$color_vk: #4680c2;

// Media Quaries
$screen-xs: 0 !default;
$screen-sm: 480px !default;
$screen-md: 768px !default;
$screen-lg: 992px !default;
$screen-xl: 1200px !default;
$screen-xxl: 1800px !default;

// Z-indexes
$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;

// Other
$border_radius: 0.2em;

// **********
// * MIXINS *
// **********

// Debugging
@mixin debugger {
  border: 1px solid red;
}

// Typography
@mixin font-face__regular {
  font-family: Lato;
  src: url('../../fonts/lato-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@mixin font-face__italic {
  font-family: Lato;
  src: url('../../fonts/lato-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@mixin font-face__bold {
  font-family: Lato;
  src: url('../../fonts/lato-heavy.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// *************
// * FUNCTIONS *
// *************
