.list {
  list-style-position: outside;
  list-style: none;
  //margin-bottom: 1em;

  &__item {
    margin-left: 1em;
  }

  &_style_ordered {
    list-style: decimal;
  }

  &_style_unordered {
    list-style: inside;
  }
}
