@font-face {
  @include font-face__regular;
}
@font-face {
  @include font-face__italic;
}
@font-face {
  @include font-face__bold;
}

.html {
  font-size: $root_font-size;
  height: 100%;
  scroll-behavior: smooth;

  &__body {
    height: 100%;
  }

  /* Chrome transition fires on page load, 
   * fix this bug by applying transition: none to all descendant of <body>
   */
  &__preload * {
    transition: none !important;
  }

  /* helper class (wrapper), enable if needed:
  &__wrapper {} */
}
