.backToTopBtn {
  display: none; // default state of the button is hidden
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 30px;
  z-index: 99; // guarantee that the button is always on top of other layers
  border: 0;
  outline: none;
  background-color: $color_primary;
  color: $color_white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 16px;
  font-family: $font-stack_sans-serif;
  transition: transform 0.2s ease, background-color 0.2s ease;

  &:link,
  &:visited,
  &:focus {
  }

  &:hover {
    background-color: $color_primary-dark;
  }

  &:active {
    transform: translate(0, 2px);
  }
}
