.fullscreen-bg {
  &_content_solid-color {
    height: 100%;
    background-color: $color_black;
    /* instead of background-color you can apply gradient:
    background: linear-gradient($color_primary-lightest, $color_primary-lighten)
      no-repeat; 
    */
  }

  &_content_img {
    height: 100%;
    background-image: url('./../../img/fullscreen-image.jpg');
    // make background image responsive:
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}
