img(src='./../img/photo.jpg' class='image' alt='Cat Sleeping In The Sun' title='The value of the title attribute is usually presented to the user as a tooltip, which appears shortly after the cursor stops moving over the image')
