.link {
  text-decoration: none;

  // make fade in/out effect on link hover
  &:link {
    color: $color_primary;
    border-bottom: 1px solid $color_primary;
    transition: background-color 0.2s linear, color 0.2s linear,
      border-bottom 0.2s linear;
  }

  &:visited,
  &:focus {
    color: $color_primary-lighten;
    border-color: $color_primary-lighten;
  }

  &:hover,
  &:active {
    color: $color_primary-dark;
    border-color: $color_primary-dark;
  }

  &_anchor:link {
    border-bottom: 1px dashed $color_primary;
  }
}
