.pagination {
  display: flex;
  flex-flow: row wrap;

  &__item {
    border-radius: 50%;
    font-family: $font-stack_sans-serif;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0 0.2rem;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;

    &:link {
      color: $color_link;
      transition: all 0.2s ease;
    }

    &:visited {
      color: $color_link;
    }

    &:hover:not(.pagination__item_active) {
      color: lighten($color_link, 15%);
    }

    &:focus,
    &:active {
      color: $color_black;
      box-shadow: 0 0 0 0.2rem $color_gray-lighten;
    }

    // Modifier: active
    &_active {
      background-color: $color_black;
      color: $color_white;
      cursor: default;

      &:link,
      &:visited,
      &:focus {
        color: $color_white;
        box-shadow: none;
      }
    }
  }
}
