.comment {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px dashed $color_gray-lighten;

  &__avatar {
    margin-top: 0.5rem;
    max-width: 6rem;
    min-width: 2rem;
    align-self: flex-start;
  }

  &__text {
    margin-left: 1rem;
  }

  &__header {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 0.5rem;

    @media screen and (min-width: $screen-sm) {
      flex-flow: row nowrap;
    }
  }

  &__name {
    font-weight: bold;

    @media screen and (min-width: $screen-sm) {
      &:after {
        content: '‧';
        margin: 0 0.4em;
        font-weight: normal;
      }
    }
  }

  /*
  &__time {
  }
  */

  &__main {
    margin-bottom: 0.5rem;
  }
}
