$custom-checkbox_size: 24px;

.checkbox {
  cursor: pointer;
  user-select: none;

  &__wrapper {
    position: relative;
  }

  // change the checkbox color when it checked:
  &__system-checkbox:checked ~ &__custom-checkbox {
    background-color: $color_black;
    transition: 0.2s;
  }

  // show the checkmark when checked:
  &__system-checkbox:checked ~ &__custom-checkbox:after {
    display: block;
  }

  &__system-checkbox {
    opacity: 0; // hide default system checkbox but keep it accessible
  }

  &__custom-checkbox {
    position: absolute;
    top: 1px; // correcy the alignment of checkbox relative to the text block
    right: 0; // align checkbox in the grid cell to the right
    height: $custom-checkbox_size;
    width: $custom-checkbox_size;
    background-color: $color_gray-lighten;
    transition: 0.2s;

    &:after {
      // create checkmark and hide by default:
      content: '';
      position: absolute;
      display: none;

      // checkmark styles:
      left: 8px;
      top: 3px;
      width: 5px;
      height: 10px;
      border: solid $color_white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }

  // Modifiers:

  &_error {
    color: $color_danger;

    .checkbox__custom-checkbox {
      background-color: lighten($color_danger, 20%);
    }

    & .checkbox__system-checkbox:hover ~ .checkbox__custom-checkbox {
      // change checkbox color on mouse over:
      background-color: $color_danger;
      transition: 0.2s;
    }

    & .checkbox__system-checkbox:checked ~ .checkbox__custom-checkbox {
      // change the checkbox color when it checked:
      background-color: $color_danger;
      transition: 0.2s;
    }
  }

  &_disabled {
    color: $color_gray-light;
    cursor: not-allowed;
  }
}
